body {
  font: 12px "Source Code Pro", Monaco, "monospace";
  background-color: #0D141E;
  color: lightgray;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header_img {
  width: 20%;
}

.logo {
  width: 95%;
  padding-left: 5.5px;
}

.header_title {
  width: 80%;


}

.name,.job_title {
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 7.5px;

}
.name {
  font-size: 1.5em;
  margin-top: 5px;

}
.job_title {
  margin-top: 10px;
  letter-spacing: 0.1em;

}

hr {
  margin-bottom: 25px;
  margin-top: 2px;
  width: 95%;
  height: 1px;
  background-color: dimgray;
  border-color: dimgray;
}

.main_img {
  width: 95%;
  /*margin-left: 9px;*/
  padding-left: 9px;

}
